@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Chivo&family=Exo+2:wght@300&family=Faustina:wght@300&family=Karla:wght@300;400&family=Lato&family=Montserrat+Alternates&family=Oswald&family=Poppins&family=Raleway&family=Rubik&family=Volkhov&display=swap");

.fontFamily {
	font-family: "Rubik", serif;
}

.outerWrapperBanners {
	background-color: #cccccc;
}
.backgroundColor-grey {
	background-color: #f9f9ff;
}
h5 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 0rem !important;
}
h1 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 0rem !important;
}
.PrimaryColor {
	color: #ffbb00;
}
.HoverTextColor:hover {
	color: #ff8800;
}
.BackGroundColor {
	background-color: #ffbb00 !important;
}
.WidthCircleTextHolder {
	width: 343px;
}
.btn {
	border-color: #ffbb00 !important;
}
.btn:focus {
	box-shadow: none !important;
}
.FontWeight {
	font-weight: 600;
}
.Gap {
	gap: 12px;
}
.Gap-17 {
	gap: 17px;
}
.Gap-30 {
	gap: 30px;
}
.Gap-22 {
	gap: 22px;
}
.GapBetWeenNumberAndEmailInTopHeader {
	gap: 10px;
}
.Gap-17 {
	gap: 17px;
}
.FontSize30 {
	font-size: 30px !important;
}
.FontSize13 {
	font-size: 13px;
}
.FontSize14 {
	font-size: 14px;
}
.FontSize16 {
	font-size: 16px;
}
.FontSize20 {
	font-size: 20px !important;
}
.CardsBanners {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	padding: 20px;
	border-radius: 5px;
	cursor: pointer;
	height: 185px;
	width: 332px;
}
.OuterWrapperBannerImage {
	background-color: #202020;
	width: 98px;
	height: 98px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.TextInCard {
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}
p {
	padding: 0% !important;
	margin: 0% !important;
	margin-bottom: 0% !important;
}
.HeadingOurServices {
	font-size: 43px;
	font-weight: 600;
	text-align: center;
}
.OuterWrapperServicesImages {
	width: 116px;
	height: 115px;
	border: 4px solid;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-shadow: rgb(0 0 0 / 45%) 0px 32px 23px -19px;
	transition: all 0.2s ease-in-out;
}
.OuterWrapperServicesImages:hover {
	border-color: #ffbb00;
	transform: scale(1.5);
}
.outerWrapperServices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 256px;
	text-align: center;
}
.ServiceHeading {
	font-size: 31px;
}
.BookServiceButtons {
	padding: 8px 15px 5px 15px !important;
	border-radius: 5px !important;
	font-size: 14px !important;
	cursor: pointer !important;
}
.BookServiceButtons:hover {
	background-color: white !important;
	color: #ffbb00 !important;
}
.CircleWhyChooseUs {
	border-radius: 50%;
}
.C-pointer {
	cursor: pointer;
}
.ButtonsTextAppLink {
	background-color: black;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	padding: 8px !important;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ButtonsTextAppLink:hover {
	background-color: #ffbb00;
}
input[type="text"] {
	outline: none;
}
.HeadingDownloadApp {
	font-size: 48px;
	font-weight: 700;
}
.FooterMidContent {
	font-size: 16px;
	line-height: 33px;
}
.HeadingFooterMidContent {
	font-size: 32px;
}
.FooterLeftContent {
	font-size: 15px;
	line-height: 24px;
}
.SocialIconsInFooter:hover {
	margin-top: -8px;
	color: white;
	cursor: pointer;
	transition: margin-top 0.2s, color 0.1s;
}
.HeadingBookService {
	display: flex;
}
.LabelContentUnderHoursDropDown {
	font-size: 18px;
}
.DisplayButtonsLower {
	display: none;
}
.outerWrapperUpperHeader {
	background-color: #222222;
}
.outerWrapperFeedback {
	background-color: #ffc21a;
}
.FooterIconLocation {
	color: white !important;
}
.SizeFooterIcon {
	font-size: 33px;
}
.outerWrapperFeedBackBox {
	min-height: 300px;
}
.outerWrapperFeedbackUserImage {
	width: 90px;
	height: 90px;
	border-radius: 999px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
.outerWrapperFeedbackUserImage img {
	width: 100%;
	height: 100%;
	border-radius: 999px;
}
.outerWrapperParagraphAboutUs {
	width: 48%;
}
.ParagraphFeedBackBox {
	color: #777;
	font-size: 13px;
	font-weight: 500;
}
.HightTextHolderServiceDescription {
	height: 100px;
	line-height: 20px;
	word-break: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	-webkit-line-clamp: 5;
	-moz-line-clamp: 5;
	-ms-line-clamp: 5;
	line-clamp: 5;
	overflow: hidden;
}
.outerContainerProjectCompleted {
	background-color: #222222;
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 55%;
}
.GapBetWeenProjectCompleteClientAndGoogleReview {
	gap: 50px;
}
.CountUp {
	color: #ffbb00;
}
.outerWrapperIconInProjectCompleted {
	font-size: 70px;
	color: #ffbb00;
}
.heightParagraphFeedBack {
	height: 125px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.outerWrapperStars {
	color: #ffbb00;
	margin: 3px;
}
.iconsContactUS {
	font-size: 39px;
	color: #ffbb00;
}
.labelAboutUs {
	font-weight: 900;
	font-size: 22px;
}
.whatsappIcon {
	bottom: 200px;
	right: 10px;
	font-size: 30px;
	z-index: 5;
	cursor: pointer;
}
.PhoneIcon {
	bottom: 14px;
	left: 13px;
	font-size: 30px;
	z-index: 5;
	cursor: pointer;
}
.HyperLinks {
	display: inline-block;
	font-size: 17px;
	font-weight: 500;
}
.HyperLinks:after {
	content: "";
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width 0.5s ease, background-color 0.5s ease;
}
.ActiveLinkColor {
	color: #ffbb00 !important;
}
.ActiveHyperLinks::after {
	width: 100%;
	background: #ffbb00;
}
.HyperLinks:hover:after {
	width: 100%;
	background: #ffbb00;
}
.ColorHyperLinks {
	color: black !important;
}
.HyperLinks:hover .ColorHyperLinks {
	color: #ffbb00 !important;
}
.dropdown-menu[data-bs-popper] {
	margin-top: 0.225rem !important;
}
.HeaderSocialMediaIcons {
	font-size: 21px;
}
.CarouselHeading {
	font-size: 74px;
	letter-spacing: 3px;
	font-weight: 500;
	margin: 0px !important;
	color: #ffbb00 !important;
}
.CarouselDescription {
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
	color: #ffbb00 !important;
}
.carousel-caption {
	bottom: 4.25rem !important;
}
.FormBackGroundImage {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding-bottom: 60px;
	background-color: #f9f9ff;
}
.FormsInputFields {
	border-radius: 5px;
	padding: 12px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 1px solid transparent;
}
.Label {
	font-size: 21px;
	font-weight: 700;
}
.OuterWrapperDropDown {
	height: 200px;
	background-color: white;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 12px !important;
	overflow-y: scroll;
	position: absolute;
	top: 50px;
	width: 100%;
	z-index: 5;
}
.FormsInputFieldsDropDown {
	background-color: white;
	border-radius: 5px;
	padding: 12px !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid transparent;
}
.OuterContainerDropDown {
	position: relative;
}
.DropDownLabel {
	cursor: pointer;
	font-size: 18px;
	padding: 7px 0px 3px 20px;
	border-bottom: 1px solid;
}
.DropDownLabel:hover {
	color: #ffbb00;
}
.FormsInputFieldsDatePicker {
	background-color: white !important;
	border-radius: 5px !important;
	padding: 12px !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
	cursor: pointer !important;
}
.react-date-picker__wrapper {
	border: unset !important;
}
textarea {
	outline: none;
}
.navbar {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
}
.OuterWrapperLogoImage {
	width: 121px;
	height: 75px;
}
.PhoneInputInput {
	border: none !important;
}
.ContentPriceDetails {
	font-size: 18px;
}
.outerWrapperNavBar {
	position: sticky !important;
	top: 0px !important;
	z-index: 2 !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.FontSizeTextHolderTopOfHeader {
	font-size: 19px;
}
.outerWrapperSearchField {
	position: sticky;
	top: 0px;
	padding: 5px 42px 5px 18px;
	font-size: 16px;
	border-radius: 7px;
}
.outerWrapperMessageBanner {
	background-color: #222222;
	display: flex;
}
.outerWrapperSearchField:focus {
	border-color: #ff8800;
	outline: unset !important;
}

.outerWrapperLeftSideOfMessageBanner {
	transform: skew(30deg);
	background-color: #ffbb00;
	margin-left: -80px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 146px;
	width: 50%;
}
.innerWrapperLeftSideOfMessageBanner {
	transform: skew(-30deg);
}
.outerWrapperRequestCallBackButton {
	padding: 20px;
	border-radius: 11px;
	color: white;
	background: black;
	font-size: 34px;
	font-weight: 600;
	cursor: pointer;
	box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}
.outerWrapperCarouselImages {
	height: 530px;
}
.outerWrapperDropDownRequestACallBack {
	width: 100% !important;
	color: #212529 !important;
	background: white !important;
	display: flex !important;
	align-items: center !important;
	justify-content: space-between !important;
}
.borderColorDropDown {
	border-color: #ced4da !important;
}
.borderColorRedDropDown {
	border-color: red !important;
}

.outerWrapperDropDownRequestACallBackMenu {
	width: 100% !important;
	padding: 18px 30px !important;
}
.textHolderTermCondition {
	font-size: 20px;
	color: #384347;
}
.textHolderLinkTermCondition {
	font-size: 22px;
	color: #8c7cdb !important;
	font-weight: 600;
}
.form-check-input {
	width: 1.5rem !important;
	height: 1.5rem !important;
}
.bannersImages {
	width: 100%;
	height: 502px;
	object-fit: cover;
}
.OuterWrapperFormRequestCallBack {
	width: 40%;
}
.OuterWrapperContentRequestCallBack {
	width: 60%;
}
.outerWrapperContentNumberTopHeader {
	display: flex;
}
.OuterContainerRequestCallBack {
	display: flex;
}
.OuterWrapperFormComponent {
	display: flex;
}
.WidthFormComponent {
	width: 50%;
}
.LinkService {
	font-size: 20px;
	padding: 5px;
	color: #202020;
	display: block;
}
.LinkService:hover {
	color: #ff8800;
	background-color: #e9ecef;
}
.Fs-17 {
	font-size: 17px;
}
.ColorGry {
	color: #777;
}
.blogImage {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.ImageHolderInService {
	width: 50%;
	height: 252px;
	object-fit: cover;
}
@media only screen and (max-width: 1200px) {
	.outerWrapperMessageBanner {
		display: block;
	}
	.outerWrapperLeftSideOfMessageBanner {
		width: 100%;
		margin-left: unset;
		transform: unset;
		padding: 59px 0px;
	}
	.innerWrapperLeftSideOfMessageBanner {
		transform: unset;
	}
	.outerContainerProjectCompleted {
		width: 100%;
		justify-content: center;
	}
}
@media only screen and (max-width: 990px) {
	.BookServiceButtons {
		width: 100%;
	}
}
@media only screen and (max-width: 992px) {
	.outerWrapperParagraphAboutUs {
		width: 100%;
	}
}
@media only screen and (max-width: 888px) {
	.HeadingBookService {
		display: unset !important;
		text-align: center;
	}
	.outerWrapperRequestCallBackButton {
		font-size: 26px;
	}
}
@media only screen and (max-width: 767px) {
	.MobileAppImage {
		display: none !important;
	}
	.OuterContainerRequestCallBack {
		display: block;
	}
	.OuterWrapperFormRequestCallBack {
		width: 100%;
	}
	.OuterWrapperContentRequestCallBack {
		width: 100%;
	}
	.OuterWrapperFormComponent {
		display: block;
	}
	.WidthFormComponent {
		width: 100%;
	}
}
@media only screen and (max-width: 380px) {
	.outerWrapperContentDetail {
		text-align: center;
	}
}
@media only screen and (max-width: 354px) {
	.GapBetWeenNumberAndEmailInTopHeader {
		gap: 3px;
	}
	.ButtonsTextAppLink {
		font-size: 13px;
	}
}
@media only screen and (max-width: 329px) {
	.HeadingDownloadApp {
		font-size: 30px;
	}
	.CardsBanners {
		width: 300px;
	}
	.TextInCard {
		font-size: 25px;
	}
}

@media only screen and (max-width: 321px) {
	.ButtonsTextAppLink {
		font-size: 12px;
	}
}

@media only screen and (max-width: 400px) {
	.HeadingOurServices {
		font-size: 33px;
	}
}
@media only screen and (max-width: 443px) {
	.HeadingDownloadApp {
		font-size: 35px;
	}
}
@media only screen and (max-width: 450px) {
	.BannersOuterWidth {
		width: 290px;
	}
}
@media only screen and (max-width: 418px) {
	.GapBetWeenProjectCompleteClientAndGoogleReview {
		gap: 12px;
	}
}
@media only screen and (max-width: 566px) {
	.outerWrapperContentNumberTopHeader {
		display: block;
	}
	.CarouselHeading {
		font-size: 30px;
	}
	.CarouselDescription {
		font-size: 15px;
	}
}
@media only screen and (max-width: 502px) {
	.DisplayButtonsLower {
		display: flex;
	}
}
@media only screen and (max-width: 692px) {
	.outerWrapperRequestCallBackButton {
		font-size: 20px;
	}
}
